<h1> <%= someData[ident].title %>   </h1>

<div class="bigPic"> 
<img src="<%=someData[ident].url%>" alt="one of the pictures"></img>
</div>
<div class="textAuthor">
    <div class="author"><img src="<%=someData[ident].author_bild%>" alt="Author picture"></img>
    <h3><%=someData[ident].author%></h3></div>
<div class="wholePage"> 
    <p><%=someData[ident].body%></p>
    <p><%=someData[ident].body%></p>
    <p><%=someData[ident].body%></p>
</div>
</div>